header{
    display:flex;
    justify-content:end ;
    background-color: yellow;
    color: red;
}
header li
{
    display:inline-flex;
    font-size: 20px;
    padding: 5px;


}
.container
{ display: flex;
    background-color: blue;
    width: 100%;
    margin: auto;
}
header a{
text-decoration: none;

}
.row{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;

}
.box{
    width: 600px;
    padding: 50px;

}
.btn-signup
{
    background-color: orange;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
.summary
{
    font-size: 20px;
    margin-top: 10px;

}
.image{
border-radius: 60px;

}
.title
{
    font-size: 30px;

}